
<ion-view title="Register" class="register">

  <ion-header-bar class="bar-stable">
    <h1 class="title" style="text-align: center;">Foot Contest</h1>
  </ion-header-bar>

  <ion-content class="fc fc-home">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()" spinner="spiral">
    </ion-refresher>


    <div class="score bg-img cd-fixed-bg">
      <h1>{{rank}}/{{users.length}}</h1>
    </div>

    <div class="row row-center" style="padding-top: 15%;" ng-show="fixtures.length == 0">
      <div class="col" style="text-align: center;">
        <ion-spinner class="spinner-positive"icon="spiral"></ion-spinner>
      </div>
    </div>

    <foot-card class="list card footcard" is-open="false" reset-on-refresh='true' ng-if="firstMatch" fixture="firstMatch"> </foot-card>

    <foot-card class="list card footcard" is-open="false" reset-on-refresh='true' ng-if="nextMatch" fixture="nextMatch"> </foot-card>
    
    <foot-card class="list card footcard" is-open="true" reset-on-refresh='true' on-predict="onPredict" ng-if="todoMatch" fixture="todoMatch"> </foot-card>
    
    <div class="padding-bottom big-padding"></div>
  </ion-content>


  <div class="tabs tabs-striped tabs-icon-top tabs-color-positive">
    <a class="tab-item active" nav-transition="none" ui-sref="home">
      <i class="icon ion-home"></i>
      Home
    </a>
    <a class="tab-item" nav-transition="none" ui-sref="predictions">
      <i class="icon ion-compose"></i>
      Predictions
    </a>
    <a class="tab-item" nav-transition="none" ui-sref="score">
      <i class="icon ion-ribbon-a"></i>
      Result
    </a>
    <a class="tab-item" nav-transition="none" ui-sref="settings">
      <i class="icon ion-ios-gear"></i>
      Settings
    </a>
  </div>

</ion-view>
