
<ion-view title="Register" class="register">

  <ion-content class="fc fc-home">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()" spinner="spiral">
    </ion-refresher>


    <div class="score bg-img cd-fixed-bg">
      <h1><span>your rank</span><br>{{rank}}/{{users.length}}</h1>
    </div>

    <div class="row row-center" style="padding-top: 15%;" ng-show="fixtures.length == 0">
      <div class="col" style="text-align: center;">
        <ion-spinner class="spinner-positive"icon="spiral"></ion-spinner>
      </div>
    </div>

    <foot-card class="list card footcard" is-open="false" reset-on-refresh='true' ng-if="firstMatch" fixture="firstMatch"> </foot-card>

    <foot-card class="list card footcard" is-open="false" reset-on-refresh='true' ng-if="nextMatch" fixture="nextMatch"> </foot-card>
    
    <foot-card class="list card footcard" is-open="true" reset-on-refresh='true' on-predict="onPredict" ng-if="todoMatch" fixture="todoMatch"> </foot-card>
    
    <div class="padding-bottom big-padding"></div>
  </ion-content>

</ion-view>
