
<ion-view title="Login" class="login">

  <ion-content class="fc fc-login">
  
    <div class="header login">
      <h1 class="title">The Bookmaker</h1>
    </div>
    <form name="signinForm" novalidate="" ng-submit="login(signinForm)">
      <div class="list">
        <label class="item item-input" ng-class="{ 'has-errors' : signinForm.uname.$invalid && signinForm.$submitted}">
          <input type="text" name="uname" ng-model="loginForm.uname" placeholder="Username" required>
        </label>
        <label class="item item-input" ng-class="{ 'has-errors' : signinForm.pwd.$invalid  && signinForm.$submitted}">
          <input type="password" name="pwd" ng-model="loginForm.pwd" placeholder="Password" ng-minlength="5" ng-maxlength="20" required>
        </label>
      </div>
      <p class="failed" ng-show="failed && !loading">Failed... Try again!</p>
      <div class="padding-top submit-field">
        <ion-spinner ng-show="loading" icon="spiral"></ion-spinner>
        <button ng-show="!loading" type="submit"
          class="button button-full button-positive activated">Login</button>
      </div>
    </form>
  </ion-content>

  <div class="tabs tabs-striped tabs-icon-top tabs-color-positive">
    <a class="tab-item active" nav-transition="none" href="#/login">
      <i class="icon ion-log-in"></i>
      Login
    </a>
    <a class="tab-item" nav-transition="none" href="#/register">
      <i class="icon ion-person-add"></i>
      Register
    </a>
  </div>

</ion-view>
