
<ion-view title="Login" class="login">

  <ion-header-bar class="bar-stable">
    <h1 class="title">Foot Contest</h1>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" ng-model="form_uname" placeholder="Username">
      </label>
      <label class="item item-input">
        <input type="password" ng-model="form_pwd" placeholder="Password">
      </label>
    </div>
    <div class="padding">
      <button ng-click="login(form_uname, form_pwd)" 
      class="button button-block button-positive activated">Login</button>
    </div>
  </ion-content>

  <div class="tabs tabs-striped tabs-icon-top tabs-color-positive">
    <a class="tab-item active" nav-transition="none" href="#/login">
      <i class="icon ion-log-in"></i>
      Login
    </a>
    <a class="tab-item" nav-transition="none" href="#/register">
      <i class="icon ion-person-add"></i>
      Register
    </a>
  </div>

</ion-view>
