
<ion-view title="Login" class="login">

  <ion-header-bar class="bar-stable">
    <h1 class="title">Foot Contest</h1>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" ng-model="form_uname" placeholder="Username">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="form_email" placeholder="email">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="form_pwd" placeholder="Password">
      </label>
    </div>
    <div class="padding">
      <button ng-click="register(form_uname, form_email, form_pwd)" 
      class="button button-block button-positive activated">Submit</button>
    </div>
  </ion-content>

</ion-view>
