
<ion-view title="Register" class="register">

  <ion-header-bar class="bar-stable">
    <h1 class="title">Foot Contest</h1>
  </ion-header-bar>

  <ion-content>

    <foot-card class="list card" ng-repeat="fixture in fixtures"> </foot-card>

  </ion-content>


  <div class="tabs tabs-striped tabs-icon-top tabs-color-positive">
    <a class="tab-item active" nav-transition="none" href="#/login">
      <i class="icon ion-clipboard"></i>
      Predictions
    </a>
    <a class="tab-item" nav-transition="none" href="#/register">
      <i class="icon ion-stats-bars"></i>
      Result
    </a>
  </div>

</ion-view>
