.fc-login{
  .header.login{
    background-image: url('../img/header-bg-b.jpg');
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);

    h1.title{
      padding: 30% 0;
      text-align: center;
      color: #d7d7d7;
      font-style: italic;
      background-color: rgba(0, 0, 0, 0.4);
      margin: 0;
    }
  }
}
.tabs-striped.tabs-color-positive .tab-item.tab-item-active, .tabs-striped.tabs-color-positive .tab-item.active, .tabs-striped.tabs-color-positive .tab-item.activated{
  color: rgb(44, 44, 109);
  border-color: rgb(44, 44, 109);
}

.tabs-striped.tabs-color-positive .tab-item{
  color: rgba(44, 44, 109, 0.4);
}