.fc-login .header.login {
  background-image: url("../img/header-bg-b.jpg");
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
  .fc-login .header.login h1.title {
    padding: 30% 0;
    text-align: center;
    color: #d7d7d7;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0; }

.tabs-striped.tabs-color-positive .tab-item.tab-item-active, .tabs-striped.tabs-color-positive .tab-item.active, .tabs-striped.tabs-color-positive .tab-item.activated {
  color: #2c2c6d;
  border-color: #2c2c6d; }

.tabs-striped.tabs-color-positive .tab-item {
  color: rgba(44, 44, 109, 0.4); }

.bar.bar-stable .title {
  font-style: oblique; }

.fc.fc-score div.bg-img {
  background-image: url("../img/worldcup.jpg"); }
.fc.fc-home div.bg-img {
  background-image: url("../img/header-bg-b.jpg"); }
.fc div.bg-img {
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
  .fc div.bg-img h1 {
    text-align: center;
    padding: 11% 0;
    text-align: center;
    color: #d7d7d7;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0; }
.fc .card.footcard {
  margin: 20px 0; }
.fc .card.footcard .item {
  background-color: #f8f8f8; }
  .fc .card.footcard .item .item-input-wrapper {
    background-color: white;
    border: 1px solid #bbb; }
.fc .toggle.toggle-positive input:checked + .track {
  border-color: #2c2c6d;
  background-color: #2c2c6d; }
.fc .padding-bottom.big-padding {
  padding-bottom: 60px; }
.fc .button.button-full.button-positive, .fc .button.button-full.button-positive.active, .fc .button.button-full.button-positive.activated {
  background-color: #2c2c6d;
  border-color: #2c2c6d; }

.fc.fc-home .card.footcard {
  box-shadow: inset 0px 3px 2px rgba(0, 0, 0, 0.1); }
  .fc.fc-home .card.footcard > .item:first-child {
    box-shadow: inset 0px 3px 2px rgba(0, 0, 0, 0.1); }
  .fc.fc-home .card.footcard.isClose > .item:first-child {
    box-shadow: inset 3px 4px 8px rgba(0, 0, 0, 0.1); }
  .fc.fc-home .card.footcard > .item:last-child {
    box-shadow: inset 0px -3px 2px rgba(0, 0, 0, 0.1); }
  .fc.fc-home .card.footcard.red > .item:first-child {
    background-color: #eb7e61;
    color: white; }
  .fc.fc-home .card.footcard.yellow > .item:first-child {
    background-color: #f1d04f;
    color: white; }
  .fc.fc-home .card.footcard.green > .item:first-child {
    background-color: #07c6b2;
    color: white; }
  .fc.fc-home .card.footcard > .item .badge {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.15); }

.fc-predictions .card.footcard {
  box-shadow: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  .fc-predictions .card.footcard.isClose {
    border-bottom-width: 0px; }
  .fc-predictions .card.footcard.red > .item:first-child i {
    color: #eb7e61; }
  .fc-predictions .card.footcard.yellow > .item:first-child i {
    color: #f1d04f; }
  .fc-predictions .card.footcard.green > .item:first-child i {
    color: #07c6b2; }
  .fc-predictions .card.footcard > .item .badge {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.25); }

/*# sourceMappingURL=style.css.map */
